*{
    background-color: khaki;
    font-family: 'Courier New', Courier, monospace;
}

div{
    text-align: center;
}

.description{
    margin: auto;
    width: 800px;
    text-align: justify;
    line-height: 1.5;
}

.ingredients{
    margin: auto;
    width: 800px;
    text-align: left;
    line-height: 1.5;
}

.steps{
    margin: auto;
    width: 800px;
    text-align: justify;
    line-height: 1.5;
}

img{
    height: 450px;
    width: 400px;
    border-radius: 5%;
}

h1{
    color: turquoise;
    font: bold;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.recipes{
    color: black;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}